<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fashion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <link rel="shortcut icon" href="shopping.jpg" type="image/jpg">


    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a  href="/blog">Blog</a></li>
                <li><a  href="/about">About</a></li>
                <li><a href="/sproduct">product</a></li>
                <li><a class="active" href="/contact">Contact Us</a></li>
                <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></i></a></li>
                <a href="#" id="close"><i class="fa-regular fa-circle-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></i></a></li>
            <i id="bar" class="fa-solid fa-outdent"></i>
        </div>
    </section>
    <section id="page-header" class="about-header">
        
        <h2>#let's_talk</h2>

        <p>LEAVE A MESSAGE , We love to hear from you</p>
       
        
       
    </section>
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>visits one of our agencies locations or contact us today </h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa-regular fa-map"></i>
                    <p>56 Glassford street Glasflow G1 1UL New Delhi</p>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <p>contact@example.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>56 Glassford street Glasflow G1 1UL New York</p>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <p>Monday to saturday: 9.00am to 16.pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28018.555002396675!2d77.33974498687138!3d28.62018866518117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5456ef36d9f%3A0x3b7191b1286136c8!2sSector%2062%2C%20Noida%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1696161785646!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    
    <section id="form-details">
        <form action="">
        <span>LEAVE A MESSAGE</span>
        <h2>We love to hear from you </h2>
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="sunject">
        <textarea name="" id="" cols="30" rows="10">Your Message</textarea>
        <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="img/people/1.png" alt="">
                <p><span>john wick</span>Software Engineer <br>+916397358910 <br> Email: contact@example.com</p>
            </div>
            <div>
                <img src="img/people/2.png" alt="">
                <p><span>Tony Stark</span>Senior Marketing Manager <br>+916397678920 <br> Email: contact@example.com</p>
            </div>
            <div>
                <img src="img/people/3.png" alt="">
                <p><span>chris Evans</span>Software Engineer <br>+919899234520 <br> Email: contact@example.com</p>
            </div>
        </div>


    </section>
   
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newtext">
            <h4>Sign up for Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>


        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign up</button>
        </div>
    </section>
   
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="img/logo.png" alt="">
            <h4>Contact</h4>
            <p class="addr"><strong>Address: </strong> noida sector 44, 562 mayoorpurRoad Behind Taj Hotel</p>
            <p><strong>Phone:</strong>+91 6388177738/+91 6397152559/+91 6306010835</p>
            <p><strong>Hours:</strong>09:am-05:pm,Mn-Fri</p>
            <div class="follow">
                <h4>Folow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
                <br>
                
                <p class="copyright"><strong>© 2023, E-commerce Project</strong></p>
            </div>

        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delievery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <!-- <div class="copyright">
            <p> </p>

        </div>
 -->


        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="img/pay/app.jpg" alt="">
                <img src="img/pay/play.jpg" alt="">
            </div>
            <p>Secure Payment Gateways</p>
            <img src="img/pay/pay.png" alt="">

        </div>
        


    </footer>



    <script src="js/script.js"></script>
</body>

</html>